<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タグを追加</title>
    <link rel="stylesheet" href="/static/add_tag.css">
    <script>
        async function addTag() {
            const description = document.getElementById('description').value;
            try {
                const response = await fetch('/tag', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ description: description })
                });
                const result = await response.json();
                if (result.success) {
                    console.log('Tag added successfully:', result.tag);
                    location.reload();
                } else {
                    console.error('Failed to add tag:', result.message);
                }
            } catch (error) {
                console.error('Error adding tag:', error);
            }
        }

        async function deleteTag(tagId) {
            try {
                const response = await fetch(`/tag/${tagId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const result = await response.json();
                console.log('Tag deleted successfully:', result);
                if (result.success) {
                    console.log('Tag deleted successfully:', result);
                    location.reload();
                } else {
                    console.error('Failed to delete tag:', result.message);
                }
            } catch (error) {
                console.error('Error deleting tag:', error);
            }
        }

    </script>
</head>
<body>
    <div class="container">
        <section class="tag-list-section">
            <h2>既存のタグ一覧</h2>
            <ul class="tag-list">
                {% for tag in tags %}
                <li class="tag-item">
                    <span class="tag-description">{{ tag.description }}</span>
                    <button class="delete-button" onclick="deleteTag('{{ tag.id }}')">削除</button>
                </li>
                {% endfor %}
            </ul>
        </section>
        <section class="add-tag-section">
            <h1>タグを追加</h1>
            <label for="description">タグを付けよう！</label>
            <input type="text" id="description" name="description" required><br>
            <div class="button-container">
                <button type="button" class="back-button" onclick="location.href='/'">戻る</button>
                <button type="button" class="add-button" onclick="addTag()">タグを追加</button>
            </div>
        </section>
    </div>
</body>
</html>
