<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Todo</title>
    <link rel="stylesheet" href="../static/add_todo.css">
</head>
<body>
    <h1>Todo作成</h1>
    <form id="addTodoForm">
        <label for="title">タイトル:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="content">内容:</label>
        <textarea id="content" name="content" required></textarea><br>

        <label for="deadline">期限:</label>
        <input type="datetime-local" id="deadline" name="deadline" required><br>

        {% if tags %}
        <label>Tags:</label>
        <div class="todo-tags">
            {% for tag in tags %}
                <div class="tag-item">
                    <input type="checkbox" id="tag_{{ tag.id }}" name="tags" value="{{ tag.id }}">
                    <label for="tag_{{ tag.id }}">{{ tag.description }}</label>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>タグがありません。<br/>タグを作成するかタグを付けずにTodoを作成してください。</p>
        {% endif %}

        <div class="button-container">
            <button type="button" onclick="location.href='/'">戻るよ〜</button>
            <button type="submit">やる事追加するよ〜</button>
        </div>
    </form>

    <script>
        const form = document.getElementById('addTodoForm');
        form.addEventListener('submit', async function(event) {
            event.preventDefault(); // フォームのデフォルト送信を無効化
            const title = document.getElementById('title').value;
            const content = document.getElementById('content').value;
            const deadline = document.getElementById('deadline').value;
            const selectedTags = Array.from(document.querySelectorAll('input[name="tags"]:checked'))
                                       .map(checkbox => checkbox.value);
            const todoData = {
                title: title,
                content: content,
                deadline: deadline,
                tags: selectedTags
            };
            try {
                const response = await fetch('/todo', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(todoData)
                });

                if (response.ok) {
                    console.log('Todo successfully added');
                    location.href = '/'; // 成功したらリダイレクト
                } else {
                    const result = await response.json();
                    console.error('Error adding todo:', result.message);
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
</body>
</html>
